[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
deepface = "*"
numpy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
runapp = "uvicorn main:app --reload"
